{% extends "base.html" %}
{% load static %}
{% load gTTS %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/detail.css" %}">
{% endblock head %}

{% block content %}
<div class='header'>
  <h1>{{ note.title }}</h1>
  {% if note.expire_on %}
    <span class='expire'>Expires on: {{ note.expire_on }}</span>
  {% endif %}
</div>
<div class='content'>
  <div class='content-header'>
    <audio controls>
      <source src=" {% if note.audio %} {{ note.audio }} {% endif %}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <div class='btn-container'>
      <a href="{% url "note-update" note.id %}"><button class='edit btn'>Edit</button></a>
      <a href="{% url "note-delete" note.id %}"><button class='delete btn'>Delete</button></a>
    </div>
  </div>
  <div class='note-page'>
    <div class='heading'>
      <p>Date: {{ note.created_at }}</p>
    </div>
    <div class='note-content'>
      <h1>{{ note.title }}</h1>
      <p>{{ note.content }}</p>

    </div>
  </div>
</div>


{% endblock content %}