{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock head %}

{% block content %}

<h1>All Notes</h1>

<div class='container'>
  {% for note in note_list %}
    <a href="{% url "note-detail" note.id %}">
      <div class='card'>
        <div class'card-header'>
          <h2>{{ note.title }}</h2>
          <div class='date-container'>
            <span class='create'>{{ note.created_at }}</span>
            {% if note.expire_on %}
              <span class='expire'>{{ note.expire_on }}</span>
            {% endif %}
          </div>
        </div>
        <div class='card-summary'>
      </div>
      </div>
    </a>
    {% endfor %}
</div>

{% endblock content %}