{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}">
<link rel="stylesheet" type='text/css' href="{% static "css/note-delete.css" %}">
{% endblock head %}

{% block content %}
<h1>Delete Note?</h1>
<div class='img-container'>
  <form action="" method="post">
    {% csrf_token %}
    <a href="{% url "note-detail" note.id %} " class='cancel link hover'>Cancel</a>
    <button type='submit' class='delete btn'>Delete</button>
  </form>
</div>
{% endblock content %}