{% extends "base.html" %}
{% load static %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static "css/mcdp.css" %}">
<script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
</script>
<link rel="stylesheet" href="{% static "css/note-form.css" %}">
<script defer src="{% static "js/form.js" %}"></script>
{% endblock head %}

{% block content %}
<div class='img-container'>
  <img src="{% static "images/writing.jpg" %}" alt="a person writing" class='writing-img'>
  {% if note %}
  <h1>Edit a Note</h1>
  {% else %}
  <h1>Add a Note</h1>
  {% endif %}
</div>
<div class='note-page'>
  <form action="" method="post" class='add-note-form'>
    {% csrf_token %}
    <div class='heading'></div>
    <table>
      {{ form.as_table }}
    </table>
    <button type='submit'>Submit</button>
  </form>
</div>
{% endblock content %}