{% extends "base.html" %}
{% load static %}
{% load gTTS %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/detail.css" %}">
{% endblock head %}

{% block content %}
<div class='header'>
  <h1>{{ note.title }}</h1>
  <span class='create'>{{ note.created_at }}</span>
  {% if note.expire_on %}
    <span class='expire'>{{ note.expire_on }}</span>
  {% endif %}
</div>
<div class='content'>
  <div class='btn-container'>
    <a href="{% url "note-update" note.id %}" class='edit-btn'>Edit</a>
    <a href="{% url "note-delete" note.id %}" class='delete-btn'>Delete</a>
  </div>
  <audio src="{% say 'en-us' note.content %}" controls></audio>
  <p>{{ note.content }}</p>
</div>
{% endblock content %}