{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReadIt</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Libre+Baskerville&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{% static "images/favicon.png" %}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
  <script defer src="{% static "js/base.js" %}"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      {% if user.is_authenticated %}
          <a href="{% url "home" %}" class='link favicon'><img src="{% static "images/favicon.png" %}" alt="a favicon"></a>
          <a href="{% url "about" %}" class='link hover'>About</a>
          <a href="{% url "note-index" %}" class='link hover'>All Notes</a>
          <a href="{% url "note-create" %}" class='link hover'>Add a Note</a>
          <a href="{% url "logout" %}" class='link hover'>Log Out</a>
      {% else %}
          <a href="{% url "home" %}" class='link favicon'><img src="{% static "images/favicon.png" %}" alt="a favicon"></a>
          <a class='link hover login'><span id='login-btn'>Login</span></a>
          <a href="{% url "signup" %}" class='link hover'>Sign Up</a>
          <a href="{% url "about" %}" class='link hover'>About</a>
      {% endif %}
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>