body {
  /* background-color: #FFC700; */
  overflow: hidden;
}
.background {
  /* -webkit-clip-path: polygon(0 0, 51% 0, 100% 100%, 45% 100%); */
  /* clip-path: polygon(0 0, 51% 0, 100% 100%, 45% 100%); */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: -1;
}

header {
  display: block;
  float: left;
  position: absolute;
  width: 12em;
  height: 100vh;
  padding: 2em 0;
  z-index: 10;
}

nav {
  display: block;
  float: left;
}

nav a {
  width: 100%;
  line-height: 4em;
  text-wrap: nowrap;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  position: relative;
}

.name-container {
  width: 45%;
  height: 50%;
  text-align: center;
  position: absolute;
  left: 10%;
}
.name-container h1 {
  font-size: 8em;
  font-family: 'Audiowide', sans-serif;
}
.name-container h3 {
  font-size: 2em;
  font-family: 'Space Grotesk', sans-serif;
  margin: 1em;
}

h1 {
  margin: 0;
}

#modal-root.visible {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.15s ease-out;
}

#modal-root {
  position: absolute;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  left : 0;
  top: 0;
  width: 0px;
  height : 0px;
  opacity: 0;
  transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
}

#modal-root.visible {
  display: inline-flex;
}

/* .signup-form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  width: 25em;
  height: 35em;
  background-color: #00A28B;
  display: none;
} */

.login-form {
  position: relative;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  left: 10%;
  width: 45em;
  height: 30em;
  background-color: white;
}

#close-btn {
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.pc-label {
  font-family: 'Space Mono', monospace;
}
.sender h3, .message h3, .message p, .login-form input {
  font-family: 'Satisfy', cursive;
}

.sender {
  top: 4em;
  left: 1em;
  font-size: 1.5em;
}

.message {
  top: 10em;
  left: 2em;
}
.message h3 {
  font-size: 2em;
  height: 2.5em;
}
.message p {
  font-size: 1.5em;
  height: 2em;
}

.signup-link {
  font-size: 1.5em;
  line-height: 5em;
}

.user {
  right: 2em;
  bottom: 5%;
  width: 40%;
  max-width: 50%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user .pc-label {
  font-size: 1.5em;
  align-self: flex-start;
  height: 2em;
}

.user table label {
  font-size: 1.3em;
}

.user table input {
  border: none;
  font-size: 1.5em;
  border-radius: 8px;
}

.user .submit-btn {
  width: 8em;
}

.postcard-img {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  opacity: 0.9;
}
