body {
  /* background-color: #FFC700; */
  overflow: hidden;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  position: relative;
}

.name-container h1 {
  font-size: 6em;
  font-family: 'Audiowide', sans-serif;
}
.name-container h3 {
  font-size: 2em;
  font-family: 'Space Grotesk', sans-serif;
  margin: 1em;
}

nav {
  width: 100%;
  display: flex;
}

h1 {
  margin: 0;
}

.postcard-img {
  position: absolute;
  width: 60%;
  height: 70%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  opacity: 0.9;
}

.name-container {
  position: absolute;
  width: 50%;
  height: 40%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.51);
  backdrop-filter: blur(2px);
}

#modal-root.visible {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.15s ease-out;
}

#modal-root {
  position: absolute;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  left : 0;
  top: 0;
  width: 0px;
  height : 0px;
  opacity: 0;
  transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
}

#modal-root.visible {
  display: inline-flex;
}

/* .signup-form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  width: 25em;
  height: 35em;
  background-color: #00A28B;
  display: none;
} */

.login-form {
  position: relative;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  width: 40em;
  height: 35%;
  background-color: white;
}

#close-btn {
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
}

#close-btn:hover {
  border-bottom: 2px solid black;
  transition: all 0.2s;
}

.absolute {
  position: absolute;
}

.pc-label {
  font-family: 'Space Mono', monospace;
}
.sender h3, .message h3, .message p, .login-form input {
  font-family: 'Satisfy', cursive;
}

.sender {
  top: 3em;
  left: 1.2em;
  font-size: 1.5em;
}

.message {
  top: 10em;
  left: 2em;
}
.message h3 {
  font-size: 2em;
  height: 3em;
}
.message p {
  font-size: 1.3em;
  height: 1.5em;
}

.signup {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  padding: 0;
}

.user {
  right: 2em;
  bottom: 5%;
  width: 40%;
  max-width: 50%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stamp {
  position: absolute;
  width: 10em;
  height: auto;
  top: 2em;
  right: 4em;
  box-shadow: none;
}

.user .pc-label {
  font-size: 1.5em;
  align-self: flex-start;
  height: 2em;
}

.user table label {
  font-size: 1.3em;
}

.user table input {
  border: none;
  font-size: 1.5em;
  border-radius: 8px;
}

.user .submit-btn {
  width: 8em;
}

@media only screen and (max-width: 768px) {
  header {
    background: #f4ebe19b;
  }
  .name-container h1 {
    font-size: 4em;
  }
  .name-container h3 {
    font-size: 1.5em;
  }
  .name-container {
    width: 100%;
    height: 50%;
  }
  .postcard-img {
    width: 100%;
    height: 100%;
  }
  .login-form {
    height: 70%;
  }
  .user {
    bottom: 0%;
    height: 50%;
  }
  .sender {
    top: 1em;
  }
  .message h3 {
    height: 2em;
  }
  .signup {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }
  main {
    width: calc(100% - 14em);
  }
  header {
    width: 14em;
    height: 100vh;
    z-index: 10;
  }
  
  nav {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  
  nav a {
    width: 100%;
    line-height: 4em;
    text-wrap: nowrap;
  }

  .postcard-img {
    position: relative;
    height: 100%;
    width: 50%;
  }
  
  .name-container {
    position: absolute;
    width: 45%;
    height: 50%;
    left: 25%;
    background: none;
  }

  .name-container h1 {
    font-size: 8em;
  }
  .name-container h3 {
    font-size: 2em;
    margin: 1em;
  }
  .login-form {
    left: 10%;
    width: 45em;
    height: 30em;
  }

  .message p {
    font-size: 1.5em;
    height: 2em;
  }
}