main {
  display: flex;
  height: calc(100vh - 7vh);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.signup-form, img {
  border-radius: 55% 45% 55% 45% / 46% 53% 47% 54%;
  -webkit-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -moz-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -ms-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -o-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
}

.signup-form {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: row;
  padding: 0 0;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fde9ce76;
}

.img-container {
  width: 45%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.img-container img {
  width: auto;
  height: 90%;
  margin: 1em;
}

.content {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.content button {
  margin: 2em 0;
}

#login-btn {
  display: none;
}
a.link.hover.login {
  display: none;
}